# Local:
/_backup
/bin
/lib
/media-src
/tmp
/is-root
/mk-notebooks-backup
/mk-src-backup
/pyvenv.cfg

# Python:
*.pyc
__pycache__/
/dist/
/*.egg-info

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# LaTeX:
/src/**/*.gz
/src/**/*.pdf
/src/**/*.out
/src/**/*.log
/src/**/*.aux
/src/**/*.tex

# R:
.RData
.Rhistory

# MacOS:
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.python-version


htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


.localedb/
!.localedb/pg/.keep
!.localedb/data/.keep